@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin font-setup($f, $l, $u1, $u2) {
  font-family: $f;
  src:
    local($l),
    url($u1) format('woff'),
    url($u2) format('woff2');
}

@mixin font-param($s, $l, $w, $c: #2b2b2b) {
  font-size: $s;
  line-height: $l;
  font-weight: $w;
  color: $c;
}

@mixin banner($i) {
  .slider__input:nth-of-type(#{$i}):checked ~ .banners__items > .banners__item:nth-child(#{$i}) {
    display: block;
  }
}

@mixin toggle($id) {
  ##{$id}:checked ~ .slider__toggles .slider__toggle[for='#{$id}'] {
    border: 5px solid #ffffff;
    border-radius: 50%;
    position:relative;
  }
}

@mixin icon-angle($t, $l, $a: 135deg, $c: #59af3f, $w: 8px, $h: 8px) {
	position: absolute;
	top: $t;
	left: $l;
	@include size($w);
	border-bottom: 1px solid $c;
	border-left: 1px solid $c;
	transform: rotate($a);
}
