@import 'normalize.scss';
@import 'variables.scss';
@import 'mixin.scss';
@import 'blocks/page-body.scss';
@import 'blocks/container.scss';
@import 'blocks/page-header.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/selection.scss';
@import 'blocks/btn.scss';
@import 'blocks/filtration.scss';
@import 'blocks/page-footer.scss';
@import 'blocks/forms.scss';
@import 'blocks/labors.scss';
@import 'blocks/tabs.scss';
@import 'blocks/feedback.scss';
@import 'blocks/banners.scss';
@import 'blocks/slider.scss';
@import 'blocks/overlay.scss';
@import 'blocks/map.scss';
@import 'blocks/range.scss';


.ui-slider-handle.ui-corner-all.ui-state-default {
	outline: none;
}

.kdx-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  background: rgba(53, 18, 95, .85);
  z-index: 1000;
  max-height: 100%;
  overflow-y: auto;
  font-size: 13px;
  line-height: 1.6;
  color: #fff;
  text-align: left;
  text-shadow: 0 0 5px rgba(255, 255, 255, .3);
  &__trigger {
    position: relative;
    padding: 5px 30px 5px 12px;
    cursor: pointer;
    text-transform: uppercase;
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: 10px;
      top: 50%;
      margin-top: -2px;
      border: 5px solid transparent;
      border-width: 0 5px 5px;
      border-color: #fff transparent;
      transition: all .4s;
    }
  }
  &--opened &__trigger {
    &:before {
      transform: rotate(180deg);
    }
  }
  &__body {
    display: none;
    border-top: 1px solid rgba(0, 0, 0, .7);
    padding-bottom: 5px;
  }
  a {
    display: block;
    color: #fff !important;
    text-decoration: none;
    transition: all .2s;
    padding: 4px 30px 4px 20px;
    line-height: 1.2;
    white-space: nowrap;
    &:hover {
      background: rgba(255,255,255,.2);
    }
    &.disabled,
    &.disabled:hover {
      opacity: 0.3;
      cursor: default;
      text-decoration: none;
      background: none;
    }
  }
  hr {
    margin: 5px 0;
    height: 0;
    border: none;
  }
  h4 {
    font-size: 13px;
    margin: 5px 0 0;
    font-weight: normal;
    padding: 5px 12px;
    text-transform: uppercase;
  }
  hr, h4 {
    border-top: 1px solid rgba(0, 0, 0, .7);
  }
  h4, &__trigger {
    background: rgba(0,0,0,.42);
  }
}
