$font-fam: 'SkodaPro';

$font-1-local: 'SkodaPro';
$font-1-url1: '../fonts/skodapro_regular.woff';
$font-1-url2: '../fonts/skodapro_regular.woff2';

$font-2-local: 'SkodaPro Medium';
$font-2-url1: '../fonts/skodapro_medium.woff';
$font-2-url2: '../fonts/skodapro_medium.woff2';

$font-3-local: 'SkodaPro Bold';
$font-3-url1: '../fonts/skodapro_bold.woff';
$font-3-url2: '../fonts/skodapro_bold.woff2';

$font-4-local: 'SkodaPro Extrabold';
$font-4-url1: '../fonts/skodapro_extrabold.woff';
$font-4-url2: '../fonts/skodapro_extrabold.woff2';
