.banners__items {
	@include size(100%);
}

.banners__item {
	display: none;
	@include font-param(30px, 12px, 700, #ffffff);
	width: 100%;
	height: 168px;
	padding-top: 32px;
	padding-left: 21px;
	position: relative;

	&--1 {
		background: url('../img/bg-banner.jpg') no-repeat;
	}

	span {
		z-index: 2;
		position: relative;
	}

}

.banners__bg-green {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	@include size(100%);
	background-color: rgba(75,168,46,0.8);
}

.btn--banner-1 {
	position: relative;
	z-index: 2;
}

.btn--banner-1:hover + .banners__bg-green {
	display: block;
}

@include banner(1);
@include banner(2);

@include toggle(banners-input-1);
@include toggle(banners-input-2);
