.btn {
	font-family: 'SkodaPro', 'Arial', sans-serif;
	text-align: center;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;

	&--location {
		@include size(48px);
		background-color: #ffffff;
		border: 1px solid #dddddd;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		position: absolute;
		top: 59px;
		left: 95px;

		&::before {
			content: '';
			position: absolute;
		}

	}

	&--disabled {
		background-color: #dddddd;
		color: #ffffff;
		cursor: default;
	}

	&--open-map {
		@include font-param(14px, 32px, 800, #4ba82e);
		text-transform: uppercase;
		position: relative;
		padding-left: 36px;

		&::before {
			content: '';
			position: absolute;
			top: -5px;
			left: 12px;
			@include size(18px, 26px);
			background: url('../img/icon-dealers.png') no-repeat;
		}

	}

	&--white {
		border: 1px solid #2b2b2b;
		border-radius: 3px;
		color: #2b2b2b;
		font-weight: 700;
		padding-top: 5px;
		padding-bottom: 5px;
		display: inline-block;

		&:hover {
			background-color: #2b2b2b;
			color: #ffffff;
		}

	}

	.btn__pic {

		&--selection {
			@include icon-angle(15px, 18px, 45deg, #2b2b2b, 9px, 9px);
		}

		&--request {
			@include icon-angle(15px, 172px, -135deg, #2b2b2b, 9px, 9px);
		}

	}

	&--to-selection {
		font-size: 14px;
		position: absolute;
		top: -65px;
		left: 0;
		width: 144px;
		padding-left: 10px;

		&:hover .btn__pic {
			border-color: #ffffff;
		}

	}

	&--request {
		font-size: 16px;
		position: relative;
		width: 194px;
		padding-right: 10px;

		&:hover .btn__pic {
			border-color: #ffffff;
		}

	}

	&--green {
		font-size: 16px;
		color: #ffffff;
		font-weight: 700;
		background-color: #4ba82e;
		border-radius: 3px;
		padding: 16px 23px;
		cursor: pointer;

		&:hover {
			color: #4ba82e;
			background-color: #ffffff
		}

	}

	&--count {
		display: inline-block;
		font-size: 16px;
		font-weight: 700;
		border-radius: 3px;
		padding: 14px 23px;
	}

	&--close {
		position: absolute;
		top: 0;
		right: -34px;
		width: 22px;
		height: 22px;
		font-size: 0;
		background-color: transparent;

		&::before,
		&::after {
			top: 10px;
			left: 2px;
			content: '';
			position: absolute;
			width: 19px;
			height: 3px;
			background-color: #d0d0d0;
			border-radius: 1px;
		}

		&::before{
			top: 11px;
			transform: rotate(45deg);
		}

		&::after{
			transform: rotate(-45deg);
		}

	}

	&--record,
	&--question {
		display: block;
		margin: 0 auto;
		margin-top: 16px;
	}

	&--banner-1 {
		font-size: 14px;
		display: block;
		width: 130px;
		margin-top: 30px;
		padding: 0;
		padding-top: 16px;
		padding-bottom: 16px;
	}

}
