.feedback__item {
	font-size: 14px;
	margin-top: 20px;

	&--checkbox {
		margin-top: 10px;
	}

	&--select {
		margin-top: 10px;
	}

	&--agree {

		a {
			line-height: 20px;
			color: #4ba82e;
		}

	}

	&--question {

		textarea {
			font-family: 'SkodaPro', 'Arial', sans-serif;
			@include size(288px, 150px);
			padding: 17px 15px;
			border: 1px solid #dddddd;
			border-radius: 3px;
		}

	}

}

.feedback__select {
	width: 322px;
}

.feedback__label {
	color: #b4b4b4;
	line-height: 10px;
	display: block;
	padding-bottom: 10px;

	&--checkbox {
		color: #2b2b2b;
		display: inline-block;
		padding-left: 28px;
		cursor: pointer;
	}

}
