.filtration {
	position: relative;
	padding-bottom: 38px;

	img {
		display: block;
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 23px;
	}

}

.filtration__model {
	width: 200px;
	margin-right: 6px;
}

.filtration__part {
	width: 240px;
	margin-right: 6px;
}

.filtration__message {
	@include font-param(14px, 16px, 400, #ffffff);
	display: none;
	position: absolute;
	top: -143px;
	left: 402px;
	width: 278px;
	padding: 10px;
	background-color: rgba(43,43,43,0.9);

	span {
		display: block;
		margin-top: 15px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 146px;
		left: 276px;
		@include size(0);
		border-style: solid;
		border-width: 7px 7.5px 0 7.5px;
		border-color: rgba(43,43,43,0.9) transparent transparent transparent;
	}

}

.filtration__request {
	text-align: center;
	display: none;

	span {
		display: block;
		margin-bottom: 15px;
	}

}
