.forms {
	display: none;
	border-top: 1px solid #dddddd;
	padding-top: 38px;
	padding-bottom: 100px;
}

.forms__labors {
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	width: 724px;
	margin-right: 18px;
}

.forms__radio {
	display: none;
}

.forms__option {
	font-size: 16px;
	display: inline-block;
	line-height: 16px;

	&--labors {
		margin-left: 8px;
		margin-bottom: 16px;

		&:last-of-type {
			margin-left: 22px;
		}

	}

	&--feedback:last-of-type {
		font-size: 16px;
		margin-left: 20px;
	}

}

.forms__checkbox {
	display: none;
}

.forms__checkbox:checked ~ span {
	content: '';
	position: absolute;
	top: 5px;
	left: -32px;
	@include size(20px);
	background-color: #4ba82e;
	border-radius: 50%;
}

.forms__checkbox--sub:checked ~ span {
	background-color: #b4b4b4;
}

.forms__checkbox:checked ~ span::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 5px;
	@include size(9px, 4px);
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	transform: rotate(-45deg);
}


.forms__print {
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	color: #4ba82e;
	font-size: 14px;
	font-weight: 800;
	padding-left: 35px;
	cursor: pointer;
}

.forms__icon-print {
	position: absolute;
	top: 3px;
	left: 0;
}

.forms__price {
	display: inline-block;
	vertical-align: top;
	padding-right: 24px;
	width: 500px;
	margin-left: 5px;
	text-align: right;

	span:first-child {
		margin-right: 10px;
	}

	b {
		font-weight: 700;

		&:first-child {
			margin-right: 10px;
		}

	}

}

.forms__feedback {
	display: inline-block;
	vertical-align: top;
	margin-top: 48px;
	width: 350px;

	.tabs {
		padding-top: 14px;
		padding-bottom: 20px;
		padding-left: 14px;
		padding-right: 14px;
		border: 1px solid #dddddd;
		border-radius: 3px;
	}

}

.forms__hotline {
	font-size: 16px;
	line-height: 29px;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: 12px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	cursor: default;

	p {
		margin: 0 auto;
		padding: 0;
		width: 269px;
	}

	b {
		@include font-param(20px, 16px, 700);
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	span {
		font-size: 14px;
		line-height: 10px;
	}

}

.forms__input {
	font-size: 14px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 14px;
	width: 306px;
}

.forms__label-checkbox {
	position: relative;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: 5px;
		left: -32px;
		@include size(18px);
		border: 1px solid #ededed;
		border-radius: 50%;
	}

	&--feedback::before {
		top: -3px;
		left: 0;
	}

}

.forms__checkbox--feedback:checked ~ span {
	top: -3px;
	left: 0;
}

.forms__total {
	position: relative;
	margin-bottom: 34px;
}

.forms__banner {
	@include size(703px, 200px);
	position: relative;
}

.forms__banner-toggles {
	position: absolute;
	top: 160px;
	left: 50%;
	z-index: 2;
}
