.labors {
	font-size: 14px;
	border: 1px solid #dddddd;
	border-radius: 3px;
}

.labors__item {

	&--recomend .labors__open,
	&--special .labors__open {
		border-top: 1px solid #f0f0f0;
	}

}

.labors__open {
	@include font-param(16px, 32px, 700);
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 46px;
	padding-right: 20px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
	cursor: pointer;

	b {
		font-weight: 700;
	}

	&--gray {
		background-color: #f0f0f0;
	}

}

.labors__content {
	display: none;
	padding-left: 46px;
	padding-right: 20px;
}

.labors__btn {
	@include icon-angle(22px, 16px, -45deg);

	&--open {
		top: 29px;
		transform: rotate(135deg);
	}

}

.labors__head {
	@include font-param(14px, 32px, 400, #b4b4b4);
	display: flex;
	justify-content: space-between;
}

.labors__point {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: -33px;
		width: 690px;
		border-top: 1px solid #f0f0f0;
	}

}

.labors__option:last-of-type .labors__point::after {
	display: none;
}

.labors__suboptions {
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;

	&::after {
		content: '';
		position: absolute;
		bottom: 0px;
		left: -33px;
		width: 690px;
		border-top: 1px solid #f0f0f0;
	}

}

.labors__title {
	padding-bottom: 6px;
	position: relative;

	a {
		color: #2b2b2b;
		position: relative;
	}

	&--free-1::after,
	&--free-2::after {
		content: 'Бесплатно';
		position: absolute;
		top: 3px;
		left: 255px;
		color: #ffffff;
		line-height: 25px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #2b2b2b;
		border-radius: 20px;
	}

	&--free-2::after {
		left: 216px;
	}

}

.labors__suboption {
	display: flex;
	justify-content: space-between;
	padding-left: 29px;
	position: relative;

	&--econom a,
	&--econom .labors__price {
		color: #b4b4b4;
	}

	a::after {
		content: '';
		@include icon-angle(0px, 106%, -45deg);
	}

	&--econom a::after,
	&--normal a::after {
		display: none;
	}

	&--recomend a::after {
		content: '';
		@include icon-angle(6px, 106%);
	}

	&:hover a {
		color: #4ba82e;
	}

	&:hover .labors__price {
		color: #4ba82e;
	}

	&--recomend:hover a::after {
		display: none;
	}

	.labors__choice {
		display: none;
		cursor: pointer;
	}

	&:hover .labors__choice {
		display: block;
		color: #b4b4b4;
		position: absolute;
		top: 0;
		left: 364px;
	}

	&--recomend::after {
		content: 'Рекомендуем';
		position: absolute;
		top: 3px;
		left: 450px;
		color: #4ba82e;
		line-height: 25px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #f0f0f0;
		border-radius: 20px;
	}

	&--econom::after {
		content: 'Эконом';
		position: absolute;
		top: 3px;
		left: 490px;
		color: #555555;
		line-height: 25px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #f0f0f0;
		border-radius: 20px;
	}

}

.labors__price--old {
	color: #b4b4b4;
	margin-left: 285px;
}
