.main-nav {
	display: flex;
	justify-content: space-between;

	ul {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}

}

.main-nav__logo {
	@include size(139px, 40px);
}

.main-nav__left {
	display: flex;
	align-items: center;

	li {
		display: inline-block;
		margin-left: 43px;
	}

	a {
		color: #2b2b2b;
	}

}

.main-nav__menu {
	padding-right: 26px;
	position: relative;

	&::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 47px;
	@include size(8px);
	border-bottom: 1px solid #59af3f;
	border-left: 1px solid #59af3f;
	transform: rotate(-45deg);
	}
}

.main-nav__right {
	margin: 0;
	line-height: 0;
	font-size: 0;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;

	li {
		@include font-param(14px, 32px, 800);
		text-transform: uppercase;
		display: inline-block;
		padding-top: 15px;
		padding-bottom: 15px;
		border-left: 1px solid #dddddd;
	}

	a {
		color: #4ba82e;
		padding-left: 53px;
	}

}

.main-nav__dealers {
	padding-right: 83px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -4px;
		left: 15px;
		background-image: url('../img/icon-dealers.png');
		@include size(17px, 23px);
	}

}

.main-nav__config {
	padding-right: 15px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -4px;
		left: 15px;
		background-image: url('../img/icon-config.png');
		@include size(23px, 18px);
	}

}

.main-nav__right .main-nav__list {
	position: relative;
	padding-left: 70px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 30px;
		@include size(7px);
		border-bottom: 1px solid #59af3f;
		border-left: 1px solid #59af3f;
		transform: rotate(-45deg);
	}

}

.main-nav__right .main-nav__loupe {
	position: relative;
	padding-left: 70px;

	&::before {
		content:'';
		position: absolute;
		top: 0;
		left: 26px;
		@include size(24px);
		background-image: url('../img/icon-loupe.png');
	}
}
