.map {
	line-height: 0;
	position: fixed;
  top: 50%;
  left: 50%;
	margin-top: -280px;
  margin-left: -390px;
  z-index: 110;
	display: none;
}

.map__dealers {
	border: 7px solid white;
	@include size(830px, 600px);
}
