.page-footer {
	display: none;
	position: relative;
	margin-top: 120px;
	padding-bottom: 50px;

	p {
		margin: 0 auto;
		@include font-param(16px, 25px, 400);
		text-align: center;
		width: 270px;
	}

	span {
		display: block;
		@include font-param(14px, 20px, 400);
	}

	.page-footer__phone {
		@include font-param(20px, 30px, 700, #4ba82e);
	}

	&::before {
		content: '';
		position: absolute;
		top: -25px;
		left: 28%;
		@include size(600px, 0);
		border-top: 1px solid #dddddd;
	}

}
