@font-face {
	@include font-setup($font-fam, $font-1-local, $font-1-url1, $font-1-url2);
  font-weight: 400;
}
@font-face {
	@include font-setup($font-fam, $font-2-local, $font-2-url1, $font-2-url2);
  font-weight: 500;
}
@font-face {
	@include font-setup($font-fam, $font-3-local, $font-3-url1, $font-3-url2);
  font-weight: 700;
}
@font-face {
	@include font-setup($font-fam, $font-4-local, $font-4-url1, $font-4-url2);
  font-weight: 800;
}

.page-body {
	font-family: 'SkodaPro', 'Arial', sans-serif;
	@include font-param(14px, 32px, 400);
	background-color: #ffffff;
	padding: 0;
	min-width: 1140px;
	margin: 0 auto;
	position: relative;

	a {
		text-decoration: none;
		cursor: pointer;
	}

	h1 {
		@include font-param(36px, 32px, 800);
		text-transform: uppercase;
		text-align: center;
		margin-top: 70px;
	}

	h2 {
		@include font-param(24px, 32px, 500);
		text-align: center;
		margin-top: -16px;
		margin-bottom: 27px;
	}

	h3 {
		@include font-param(14px, 14px, 400, #b4b4b4);
		margin: 0;
	}

	input {
		outline: none;
	}

	textarea {
		outline: none;
	}

}
