.range {
	display: inline-block;
	margin-right: 6px;
	margin-bottom: 40px;
	position: relative;

	&--time::before {
		content: 'месяцев';
		position: absolute;
		top: 34px;
		left: 40px;
		color: #b4b4b4;
	}

}

.range__input {
	font-size: 14px;
	@include size(212px, 32px);
	border: 1px solid #dddddd;
	border-radius: 3px;
	padding-left: 17px;
	padding: 7px 14px;
}

.range__slider {
	position: absolute;
	font-size: 0;
	top: 47px;
	left: 7px;
	width: 94%;
	cursor: pointer;
}

.ui-slider-handle::before {
	content: '';
	position: absolute;
	top: -9px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 9px 8px;
	border-color: transparent transparent #2b2b2b transparent;
}
