.selection {
}

.selection__select {
	position: relative;
	z-index: 0;

	&--city {
		width: 234px;
		border-radius: none;
		margin-left: -2px;
	}

	&--center {
		width: 385px;
		margin-left: 6px;
	}

}

.selection__options {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 30px;
}

.selection__cars {
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 30px;
}

.selection__img {
	height: 158px;
}


.selection__car {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
	margin-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	@include size(260px, 190px);

	b {
		display: block;
		text-align: center;
		@include font-param(20px, 32px, 500);
	}

	&:nth-of-type(4n) {
		margin-right: 0;
	}

	&:hover {
		background-color: #f0f0f0;

		b {
			color: #4ba82e;
		}

	}

}

.selection__options {
	text-align: center;
}

.selection__icon-location {
	position: absolute;
	top: 14px;
	left: 13px;
}
