.slider {
	position: relative;
}

.slider__input {
	display: none;
}

.slider__toggles {
	font-size: 0;
}

.slider__toggle {
  border: 5px solid #c0c1c1;
  border-radius: 50%;
  position:relative;
  margin-right: 7px;
  cursor: pointer;
}
