.tabs {
	margin-bottom: 15px;
}

.tabs__option {
	color: #2b2b2b;
	cursor: pointer;

	&:hover {
		color: #4ba82e;
		border-bottom: 1px solid #4ba82e;
	}

}

.tabs__content {
	display: none;
}

.forms__radio:checked + .tabs__option {
	font-weight: 700;
	border: 1px solid #2b2b2b;
	border-radius: 20px;
	padding: 7px 13px;
}

.forms__radio:checked + .tabs__option:hover {
	color: #2b2b2b;
}

#tab-first:checked ~ #tab-content-1,
#tab-second:checked ~ #tab-content-2,
#tab-third:checked ~ #tab-content-3,
#tab-fourth:checked ~ #tab-content-4 {
	display: block;
}
